.center {
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f5f5f5;
    display:inline-block;
}

.lable{
    display:block;
}

.item{
     display:block;
}
